<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'homepage.css' %}">
    <!--DELETE THIS LATER, ONLY FOR TESTING, WILL GO LATER INTO A CSS FILE-->
   

    <title>homepage</title>
    
    
</head>
<body>
    <h1>homepage</h1>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile_info' %}" class="fixed">
      <img class="profile-icon"
           src="{{ request.user.profile.profile_picture.url }}"
           alt="{{ request.user.username }}">
    </a>
{% endif %}
    <p>
        <div class="properties">
        {% for property in properties %}
            <div class="property">
                <h2>{{ property.property_city }}</h2>
                <img src="{{ property.property_image.url }}" alt="{{ property.property_city }}" width="150" height="150">
                <p>{{ property.property_description }}</p>
                <a href="{% url 'property_detail' property.id %}">View Details</a>
            </div>
        {% endfor %}
        </div>
        
</body>
</html>