<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <!--DELETE THIS LATER, ONLY FOR TESTING, WILL GO LATER INTO A CSS FILE-->
    <style>
        
        div.fixed {
          position: fixed;
          top: 0;
          right: 0;
          width: 100px;
          border: 3px solid #ffb20c;
        }
        </style>


    <title>homepage</title>
    
    
</head>
<body>
    <h1>homepage</h1>
    <p>
        Eichenwalde: <a href="{% url 'property_detail' %}">
            <img alt="Eichenwalde" src="{% static 'Eichenwalde.png' %}" width="150" height="150">
        </a>
    </p>

    <div class="fixed">  hello there: <a href="{% url 'profile_info' %}">
        <img alt="profile_picture" src="{% static 'Lifeweavermog.png' %}" width="75" height="100">
    </a> </div>

</body>
</html>