{% extends "base.html" %}
{% block content %}
  <h1>Respond to Offer #{{ offer.id }}</h1>

  <p>
    <strong>Buyer:</strong> {{ offer.buyer.username }}<br>
    <strong>Property:</strong>
      <a href="{% url 'property_detail' offer.property.id %}">
        {{ offer.property.property_city }}
      </a><br>
    <strong>Offered:</strong> ${{ offer.offer_price }}<br>
    <strong>Expires:</strong> {{ offer.expiration_date }}
  </p>

  <form method="post">
    {% csrf_token %}
    <button name="action" value="accept">Accept</button>
    <button name="action" value="reject">Reject</button>
  </form>

  <p><a href="{% url 'seller_listings' %}">&larr; Back to Listings</a></p>
{% endblock %}
